* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  max-width: 980px;
  margin: 0 auto;
}

@font-face {
  font-family: "proxima";
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.day {
  margin-top: 25px;
  margin-bottom: 110px;
}
.day .day-header {
  background-color: white;
}
.day .day-header h1 {
  margin-bottom: 5px;
  font-size: 60px;
  font-family: proxima;
  font-style: normal;
  letter-spacing: 25px;
}
.day .day-header p {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: bold;
}
.day .day-header .border-bottom {
  width: 185px;
  height: 2px;
  background-color: black;
  margin-bottom: 16px;
}

@media all and (max-width: 1000px) {
  .day .day-header {
    margin-left: 20px;
  }
  .day .day-header p {
    margin-right: 20px;
  }
}
.book {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.book .button {
  width: 133px;
  height: 40px;
  border: none;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.book .buttontext1 {
  background-color: #79addc;
  border-radius: 25px;
}

nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-black.png);
}
nav .links {
  height: 5px;
}
nav .links a {
  color: black;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .links span {
  color: #79addc;
  margin: 0 20px;
}

@media all and (max-width: 1000px) {
  nav .logo {
    margin-left: 20px;
  }
  nav .links {
    margin-right: 20px;
  }
}
.banner {
  max-width: 981px;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tours-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.bannertext {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "proxima";
  font-size: 60px;
}

@media all and (max-width: 800px) {
  .banner {
    display: block;
    float: none;
    width: 100%;
  }
}
.banneri {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.banneri .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.banneri .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .banneri {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannerus {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannerus .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannerus .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannerus {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannerau {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannerau .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannerau .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannerau {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannernz {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannernz .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannernz .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannernz {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannerfr {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannerfr .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannerfr .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannerfr {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannereg {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-06.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannereg .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannereg .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannereg {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannerjp {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-07.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannerjp .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannerjp .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannerjp {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannerca {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannerca .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannerca .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannerca {
    display: block;
    float: none;
    width: 100%;
  }
}
.bannerue {
  max-width: 981px;
  height: 413px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../../images/tour-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../../images/tour-09.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 50px;
  color: white;
}
.bannerue .about-hero-text {
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: 10px;
  font-family: "proxima";
}
.bannerue .price-text {
  position: absolute;
  margin-bottom: 0;
  font-size: 30px;
  font-family: "proxima";
  right: 10px;
  bottom: 10px;
}

@media all and (max-width: 800px) {
  .bannerue {
    display: block;
    float: none;
    width: 100%;
  }
}
.foot {
  max-width: 1280px;
  min-height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background-color: #79addc;
  margin-top: 135px;
}
.foot .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-white.png);
  margin-left: 100px;
}
.foot .bottext {
  color: white;
  margin-top: 30px;
  left: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}
.foot .logosa {
  position: relative;
  color: white;
  font-size: 20px;
}
.foot .logosb {
  position: relative;
  color: white;
  font-size: 20px;
}
.foot .logosc {
  position: relative;
  color: white;
  font-size: 20px;
  padding-right: 125px;
}

.three {
  text-align: center;
  min-height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 50%;
  margin-top: 40px;
  font-family: "proxima";
}
.three .pics1 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-012.jpg);
  position: relative;
}
.three .pics2 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-022.jpg);
  position: relative;
}
.three .pics3 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-032.jpg);
  position: relative;
}
.three .pics4 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-04.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .pics5 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-05.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .pics6 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-06.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .pics7 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-07.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .pics8 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-08.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .pics9 {
  width: 236px;
  height: 304px;
  background-image: url(../../images/tour-09.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsi1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/israel-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsi2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/israel-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsi3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/israel-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsus1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/usa-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsus2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/usa-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsus3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/usa-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsau1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/aus-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsau2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/aus-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsau3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/aus-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsnz1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/nz-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsnz2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/nz-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsnz3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/nz-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsfr1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/france-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsfr2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/france-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsfr3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/france-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picseg1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/egypt-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picseg2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/egypt-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picseg3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/egypt-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsjp1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/japan-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsjp2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/japan-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsjp3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/japan-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsca1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/canada-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsca2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/canada-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsca3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/canada-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsue1 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/uae-tour-01.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsue2 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/uae-tour-02.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .picsue3 {
  width: 298px;
  height: 347px;
  background-image: url(../../images/uae-tour-03.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three .pictext {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 38px;
}
.three .pictextx {
  color: white;
  position: relative;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}
.three .pictext1 {
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}
.three .button {
  width: 133px;
  position: relative;
  border: none;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.three .buttonpic1 {
  background-color: #79addc;
  border-radius: 25px;
}

@media screen and (max-width: 1420px) {
  .three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .three .pics1 {
    margin-top: 10px;
  }
  .three .pics2 {
    margin-top: 10px;
  }
  .three .pics3 {
    margin-top: 10px;
  }
  .three .pics4 {
    margin-top: 10px;
  }
  .three .pics5 {
    margin-top: 10px;
  }
  .three .pics6 {
    margin-top: 10px;
  }
  .three .pics7 {
    margin-top: 10px;
  }
  .three .pics8 {
    margin-top: 10px;
  }
  .three .pics9 {
    margin-top: 10px;
  }
  .three .picsi1 {
    margin-top: 10px;
  }
  .three .picsi2 {
    margin-top: 10px;
  }
  .three .picsi3 {
    margin-top: 10px;
  }
  .three .picsus1 {
    margin-top: 10px;
  }
  .three .picsus2 {
    margin-top: 10px;
  }
  .three .picsus3 {
    margin-top: 10px;
  }
  .three .picsau1 {
    margin-top: 10px;
  }
  .three .picsau2 {
    margin-top: 10px;
  }
  .three .picsau3 {
    margin-top: 10px;
  }
  .three .picsnz1 {
    margin-top: 10px;
  }
  .three .picsnz2 {
    margin-top: 10px;
  }
  .three .picsnz3 {
    margin-top: 10px;
  }
  .three .picsfr1 {
    margin-top: 10px;
  }
  .three .picsfr2 {
    margin-top: 10px;
  }
  .three .picsfr3 {
    margin-top: 10px;
  }
  .three .picseg1 {
    margin-top: 10px;
  }
  .three .picseg2 {
    margin-top: 10px;
  }
  .three .picseg3 {
    margin-top: 10px;
  }
  .three .picsjp1 {
    margin-top: 10px;
  }
  .three .picsjp2 {
    margin-top: 10px;
  }
  .three .picsjp3 {
    margin-top: 10px;
  }
  .three .picsca1 {
    margin-top: 10px;
  }
  .three .picsca2 {
    margin-top: 10px;
  }
  .three .picsca3 {
    margin-top: 10px;
  }
  .three .picsue1 {
    margin-top: 10px;
  }
  .three .picsue2 {
    margin-top: 10px;
  }
  .three .picsue3 {
    margin-top: 10px;
  }
}