* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}
html, body {
 height: 100%;
 position: relative;
 background-color: $site-white;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

#app{
    max-width: $content-width;
    margin: 0 auto;
}

@font-face{
  font-family: 'proxima';
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
  
}