.bannerca{
    max-width: 981px;
    height: 413px;
    background-image: linear-gradient(rgba($site-black, .6)), url(../../images/tour-08.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 50px;
    color: $site-white;

    .about-hero-text{
        position: absolute;
        font-size: 80px;
        top: 10px;
        left: 10px;
        font-family: 'proxima';
    }

    .price-text{
        position: absolute;
        margin-bottom: 0;
        font-size: 30px;
        font-family: 'proxima';
        right: 10px;
        bottom: 10px;
    }
}



@media all and (max-width:800px) 
{
    .bannerca
    {
        display: block; 
        float: none; 
        width: 100%;
    }
}